[Unit]
Description=Api running as a service
After=network.target
[Service]
WorkingDirectory=/home/ubuntu/actions-runner/_work/deploy_to_aws/deploy_to_aws
ExecStart=/home/ubuntu/actions-runner/_work/deploy_to_aws/deploy_to_aws/env/bin/gunicorn -w 3 -b unix:/tmp/api.sock -m 007 manage:application
[Install]
WantedBy=multi-user.target